/Murach/servlet_and_jsp/netbeans/book_apps/ch02email/build/
/Murach/servlet_and_jsp/netbeans/book_apps/ch02email/dist/
/Homework/Homework1/nbproject/private/
/Homework/Homework1/build/
/Homework/LyndaDemo/nbproject/private/
/Homework/LyndaDemo/build/
/Homework/LyndaDemo2/nbproject/private/
/Homework/LyndaDemo2/build/
/Homework/SPANRhomework1/nbproject/private/
/Homework/SPANRhomework1/build/
/LyndaExamples/LyndaCSSEx1/nbproject/private/
/LyndaExamples/LyndaCSSEx1/build/